.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.image {
  border-radius: 15%;
  object-fit: cover;
  padding: 40px;
  max-height: 400px;
  width: 100%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image_container {
  border-radius: 15px;
  max-width: 550px;
}

.dots_container {
  position: relative;
  display: flex;
  gap: 1rem;
}

.dot__item {
  background-color: gray;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .container {
    height: 80vh;
  }
}
